@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.bg_image {
  background-image: url(/images/Home/Additional_details.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover; /* Ensures the image covers the whole area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repetition */

}

.logo_font {
  font-family: 'Akronim', sans-serif;
  color: #421A00;
}

/* styles/globals.css */
body {
  font-family: 'Abhaya Libre', serif;
}
